* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#next_button {
  float: right; }

#back_button {
  float: left; }

.button, #restart {
  position: relative;
  top: -50px;
  color: #bbbbbb;
  text-align: left;
  font-size: 1.5em;
  margin: 0 0 auto auto;
  padding: 0.5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #990000;
  box-shadow: inset 0 2px 0 1px #440000, 0 0 0 1px #666666;
  -webkit-transition: top 0.2s, color 0.2s, box-shadow 0.2s, background-color 0.2s;
  -moz-transition: top 0.2s, color 0.2s, box-shadow 0.2s, background-color 0.2s;
  transition: top 0.2s, color 0.2s, box-shadow 0.2s, background-color 0.2s; }
  .button:hover, #restart:hover {
    background-color: #aa0000;
    color: white;
    box-shadow: inset 0 0 0 1px #440000, 0 2px 0 1px #666666;
    top: -52px; }

.result {
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  padding: 10px; }

.green {
  color: #88aa88; }

.red {
  color: #aa8888; }

.score {
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  padding: 20px; }

#restart {
  margin: auto auto 0 10px;
  width: 180px; }

label {
  font-size: 1.2em; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: black;
  display: inline; }

#wrapper {
  width: 90%;
  color: #333333;
  background-color: white;
  margin: 0 auto;
  border-radius: 0 0 15px 15px; }

#title {
  text-align: center;
  font-size: 5em;
  background-color: #eeeeee;
  padding-bottom: 10px; }

#question_wrap {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 1% 0; }

.number {
  color: #999999; }

#question {
  font-size: 2.2em;
  text-align: center;
  margin: 10% auto; }

li {
  list-style-type: none;
  width: 70%;
  border-radius: 5px;
  border: 2px solid black;
  margin: 1% auto;
  font-size: 1.3em;
  padding: 1.5%;
  background-color: #dddddd;
  -webkit-transition: border-color 0.5s, background-color 0.5s;
  -moz-transition: border-color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, background-color 0.5s; }

input[type=radio] {
  display: none; }

.selected {
  border: 2px solid #006600;
  background-color: #88aa88;
  color: black; }

@media only screen and (max-width: 900px) {
  .button, #restart {
    font-size: 1.3em;
    top: -40px; }
    .button:hover, #restart:hover {
      top: -42px; }

  #restart:hover {
    top: -42px; }

  #question {
    font-size: 2em; } }
@media only screen and (max-width: 750px) {
  .button, #restart {
    width: 40%;
    text-align: center;
    position: relative;
    top: 15px; }
    .button:hover, #restart:hover {
      top: 13px; }

  label {
    text-align: center; }

  #restart {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -10px; }
    #restart:hover {
      top: -12px; } }
@media only screen and (max-width: 550px) {
  #question {
    font-size: 1.8em;
    margin: 10% 0 10% 10%; }

  #title {
    font-size: 3em; }

  label {
    font-size: 1em; } }
