* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#next_button {
  float: right; }

#back_button {
  float: left; }

.button {
  position: relative;
  top: -50px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 auto auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #900;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
  width: 100px;
  height: 50px;
  overflow: hidden;
  line-height: 1.3em; }
  .button:hover {
    background-color: #A00;
    line-height: 7.5em; }
  .button:before {
    content: attr(data-text);
    position: absolute;
    top: -2.75em;
    left: 1em; }

.result {
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  padding: 10px;
  position: relative; }
  .result .mini-q {
    display: inline-block;
    float: left;
    color: #888;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin: 0 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 0 10px 10px 10px; }

.green {
  color: #8a8; }

.red {
  color: #a88; }

.score {
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  padding: 20px; }

#restart {
  margin: auto auto 0 10px;
  width: 180px; }

label {
  font-size: 1.2em; }

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

body {
  background-color: black;
  display: inline; }

#wrapper {
  width: 80%;
  color: #333;
  background-color: white;
  margin: 0 0 0 5%;
  border-radius: 0 0 15px 15px; }

#title {
  text-align: center;
  font-size: 5em;
  background-color: #eee;
  padding-bottom: 10px; }

#question_wrap {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 1% 0; }

.number {
  color: #999999; }

#question {
  font-size: 2.2em;
  text-align: center;
  margin: 10% auto; }

li {
  list-style-type: none;
  width: 70%;
  border-radius: 5px;
  border: 2px solid black;
  margin: 1% auto;
  font-size: 1.3em;
  padding: 1.5%;
  background-color: #ddd;
  -webkit-transition: border-color 0.5s, background-color 0.5s;
  -moz-transition: border-color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, background-color 0.5s; }

input[type=radio] {
  display: none; }

.selected {
  border: 2px solid #060;
  background-color: #8A8;
  color: #000; }

#side {
  background: #333;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  width: 200px; }
  #side div {
    position: relative;
    padding: 5px; }
  #side .stats {
    display: none; }
  #side .main {
    text-align: center; }
    #side .main::before {
      content: "";
      position: absolute;
      left: 50%;
      right: 50%;
      height: 1px;
      bottom: 0;
      background: #aaa;
      transition: all 0.25s ease-in-out; }
    #side .main.under::before {
      left: 10%;
      right: 10%; }
    #side .main:hover::before {
      left: 10%;
      right: 10%; }
  #side .create {
    font-size: 0.8em;
    display: none; }
    #side .create input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #aaa;
      border-right: 1px solid #aaa;
      font-size: 0.8em;
      color: #aaa;
      width: 100px;
      padding: 5px; }
      #side .create input:focus {
        outline: none; }
  #side .go {
    cursor: pointer;
    margin: 5px;
    font-size: 1em;
    background: #2A2A2A;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
