.result
	text-align: center
	font-size: 2em
	margin: 0 auto
	padding: 10px
	position: relative

	.mini-q

		$border-width: 1px
		$margin: 10px

		display: inline-block
		float: left
		color: #888
		font:
			size: 15pt
			weight: 300
		position: absolute
		margin: $margin
		padding: 10px
		box-sizing: border-box
		border: $border-width solid #aaa
		border-radius: 0 10px 10px 10px

		$size: 10px
		&::before
			content: ""
			position: absolute
			display: inline-block
			background: white
			left: -($size + $border-width)/2
			top: $border-width/2
			border: solid #888
			border-width: 0 0 $border-width $border-width
			box-sizing: border-box
			width: $size
			height: $size
			transform: rotate(45deg)

.green
	color: #8a8

.red
	color: #a88

.score
	text-align: center
	margin: 0 auto
	font-size: 3em
	padding: 20px

#restart
	@extend .button
	margin: auto auto 0 10px
	width: 180px

label
	font-size: 1.2em